.page.login{
  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    margin: auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px 1px rgba(black, 0.2);

    form{
      padding: 0;
    }
  }
}