.namingScheme{
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;

  .actions{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    height: 2.5em;
  }

  .tables{
    display: flex;
    margin: 0 -0.5em;

    .table{
      margin: 0 0.5em;

      .icon{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        visibility: hidden;
        margin: auto;
        
        &, svg{
          width: 20px;
          height: 20px;
        }
      }

      &:hover .icon{
        visibility: visible;
      }
    }

    td:last-child, th:last-child{
      width: 75%;
    }
  }

  .modalCard{
    width: auto;

    form{
      padding: 0;
    }

    .actions{
      margin: 0;
      justify-content: flex-end;
    }
  }
}