.namingScheme{
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;

  .actions{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    height: 2.5em;
  }

  .tables{
    display: flex;
    margin: 0 -0.5em;

    .table{
      margin: 0 0.5em;
    }
    
    .tbl-title{
      display: flex;
      justify-content: center;

      .icon{
        margin-left: 0.5em;
        visibility: hidden;
        
        &, svg{
          width: 20px;
          height: 20px;
        }
      }

      &:hover .icon{
        visibility: visible;
      }
    }

    td:last-child, th:last-child{
      width: 75%;
    }
  }

  .modalCard{
    width: 20em;

    input, label{
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    input:first-of-type{
      width: auto;
    }

    input + label:not(.checkbox):not(.radio){
      margin-top: 1em;
    }

    .actions{
      margin: 0;
      margin-top: 1em;

      .btn{
        width: auto;
      }
    }
  }
}