.serverList{
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;

  .actions{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    height: 2.5em;
  }

  .headerMenu{
    position: absolute;
    z-index: 100;
    top: 100%;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 9px 4px rgba(#000, 0.2);
    cursor: default;

    .headerItem{
      white-space: nowrap;
      display: flex;
      align-items: center;
      padding: 2px 0;
    }
  }

  tr.retired td{
    color: lighten(#000, 80%);
  }

  .maintWin{
    grid-column: 2;

    *{
      height: 100%;
      border: none;
      border-radius: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      transition: border-color 0.1s linear;
      will-change: border-color;
    }

    *:first-child{
      border-radius: 5px 0 0 5px;
      border-left: 1px solid #ccc;
    }

    *:last-child{
      border-radius: 0 5px 5px 0;
      border-right: 1px solid #ccc;
    }

    &:focus-within *{
      border-color: #666;
    }

    span{
      padding: 0.3em 0;
    }
  }
}
