.serverList{
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;

  .actions{
    flex: 0;
    margin-bottom: 0.5rem;
  }

  .table{
    flex: 1;
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
  }

  table{
    width: 100%;
    table-layout: fixed;
  }

  .tbl-content{
    height: calc(100% - 50px);
    overflow-x: auto;
    margin-top: 0px;
    border-top: 1px solid rgba(#fff, 0.3);
    overflow: overlay;

    table{
      border-radius: 0 0 0.5em 0.5em;
    }
  }

  tr{
    background-color: #fff;
  }

  th{
    height: 50px;
    padding: 0 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }

  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

  ::-webkit-scrollbar{
    background-color: #fff;
  }
}
