.serverList{
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;

  .actions{
    display: flex;
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    height: 2.5em;
  }

  tr.retired td{
    color: lighten(#000, 80%);
  }
}
