@import 'colors';

.spinner{
  width: 60px;
  height: 60px;
  border: 4px solid transparent;
  border-right-color: $main;
  border-radius: 100%;
  animation: spinner 1.3s linear infinite;

  @keyframes spinner{
    from{
      transform: rotate(0deg);
    }

    to{
      transform: rotate(360deg);
    }
  }
}

.sadFace{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: darken(#efefef, 25%);
  user-select: none;

  svg{
    width: 50%;
    height: 50%;
    max-height: 200px;
    max-width: 200px;
    fill: darken(#efefef, 15%);
  }
}

.btn{
  display: inline-block;
  background-color: $main;
  color: #fff;
  font-family: 'Google Sans', 'Open Sans', sans-serif;
  letter-spacing: 0.3px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  min-width: 80px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  user-select: none;
  outline: none;
  border: none;

  &:hover{
    background-color: darken($main, 5%);
  }

  &:active{
    background-color: darken($main, 10%);
  }

  &.secondary{
    background-color: transparent;
    color: #555;

    &:hover{
      background-color: $fg;
    }

    &:active{
      background-color: darken($fg, 5%);
    }
  }

  &.red{
    background-color: $red;
    
    &:hover{
      background-color: darken($red, 7%);
    }
    
    &:active{
      background-color: darken($red, 14%);
    }
  }

  & + *{
    margin-left: 0.25rem;
  }
}

.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  background-color: #000;
  background-color: rgba(#000, 0.5);
  z-index: 100;
  box-sizing: border-box;

  .modalCard{
    background-color: #fff;
    padding: 1rem;
    width: 50rem;
    margin: auto;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

    .title{
      font-size: 20px;
      margin-bottom: 1rem;
    }

    .spinner{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
    }
  }
}

fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

form{

  &.grid{
    display: grid;
    align-items:center;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    grid-template-columns: auto 3fr auto;
    overflow-x: hidden;
    padding: 0 10.5px;
  }

  label:not(.checkbox):not(.radio){
    display: inline-block;
    grid-column: 1;
    padding-right: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type=text], input[type=date], input[type=number], input[type=time], input[type=password], select.select{
    background-color: #fff;
    display: inline-block;
    grid-column: 2;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.1s linear;

    &:focus{
      border-color: darken(#ccc, 40%)
    }

    &::-webkit-inner-spin-button{
      display: none;
      -webkit-appearance: none;
    }
  }

  input[type=checkbox].checkbox{
    position: fixed;
    opacity: 0;
    cursor: default;
    left: -500%;
    top: -500%;

    & + label.checkbox{
      height: 22px;
      width: 22px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;

      svg{
        display: none;
        stroke-width: 1.5;
      }
    }

    &:checked + label.checkbox{

      svg{
        display: block;
      }
    }
  }

  select.select{
    height: 30px;

    option:disabled{
      display: none;
    }
  }

  .radios{
    white-space: nowrap;

    input[type=radio]{
      position: fixed;
      opacity: 0;
      cursor: default;
      left: -500%;
      top: -500%;
  
      & + label.radio{
        display: inline-block;
        padding: 0.3em 0.5em;
        text-align: center;
        user-select: none;
        border: 1px solid #ccc;
        border-right: none;
  
        &:first-of-type{
          border-radius: 5px 0 0 5px;
        }
  
        &:last-of-type{
          border-radius: 0 5px 5px 0;
          border-right: 1px solid #ccc;
        }
      }
  
      &:checked + label.radio{
        background-color: $main;
        border-color: $main;
        color: #fff;
  
        + * + label{
          border-left: none;
          padding-left: calc(0.5em + 1px);
        }
      }
  
      &:checked:disabled + label.radio{
        background-color: lighten($main, 20%);
        border-color: lighten($main, 20%);
        color: #eee;
      }
    }  
  }

  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .actions{
    display: flex;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  input:disabled, input:read-only, .btn:disabled, input[type=radio]:disabled.radio + label.radio, input[type=checkbox]:disabled.checkbox + label.checkbox, select:disabled{
    &, &:hover, &:active, &:focus{
      background-color: #eee;
      color: #888;
      border-color: #ccc;
      cursor: default;
    }
  
    svg{
      stroke: #888;
    }
  }
}

.icon{
  position: relative;
  display: inline-block;

  svg{
    width: 24px;
    height: 24px;
    fill: none;
    stroke: darken(#aaa, 50%);
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.click{
    cursor: pointer;

    svg{
      stroke: #aaa;
      transition: stroke 0.1s linear;
    }

    &:hover{
      svg{
        stroke: darken(#aaa, 50%);
      }
    }
  }
}

.table{
  flex: 1;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  
  table{
    width: 100%;
    table-layout: fixed;
  }

  .tbl-header{
    position: relative;
  }

  .tbl-content{
    height: calc(100% - 50px);
    overflow-x: auto;
    margin-top: 0px;
    border-top: 1px solid rgba(#fff, 0.3);
    overflow: overlay;

    table{
      border-radius: 0 0 0.5em 0.5em;
      overflow: hidden;

      tr.hover:hover{
        cursor: pointer;
        background-color: darken(#fff, 3%);
      }
    }
  }

  tr{
    position: relative;
    width: 100%;
    background-color: #fff;
  }

  th{
    height: 50px;
    padding: 0 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }

  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
}

.page > .actions{
  & > * + *{
    margin-left: 0.25em;
  }

  .spacer{
    flex-grow: 1;
  }

  .icon{
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    transition: background-color 0.1s linear;
    will-change: background-color;
    height: 100%;
    padding: 0 0.5em;
    cursor: pointer;

    &:hover, &.focus{
      background-color: rgba(#fff, 0.7);
    }
  
    svg{
      width: 20px;
      height: 20px;
      stroke: #888;
      transition: stroke 0.1s linear;
    }
  }
}