$bg: #4285f4;
$size: 45px;

.fab{
  font-family: 'Google Sans', 'Open Sans', sans-serif;
  letter-spacing: 0.3px;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #fff;
  background-color: $bg;
  font-size: 12px;
  cursor: pointer;
  border-radius: 100px;
  padding: 0 1em;
  height: $size;
  min-width: $size;
  line-height: $size;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  user-select: none;

  &:hover{
    background-color: darken($bg, 5%);

    &:active{
      background-color: darken($bg, 8%);
    }
  }
}
