@import 'colors';

.sidebar{
  position: relative;
  flex: 0 15em;
  background-color: $bg;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;

  .brand{
    font-family: 'Raleway', 'Open Sans', monospace;
    padding: 1rem 2.5rem;
    font-size: 18px;
    box-sizing: border-box;
  }

  a{
    color: #eee;
    text-decoration: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem;
    transition: background-color 0.1s linear;
    will-change: background-color;
    position: relative;

    .border{
      position: absolute;
      height: calc(100% - 6px);
      background-color: $main;
      width: 5px;
      left: -5px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: left 0.1s ease-in-out;
      will-change: left;
    }

    &:not(.brand):hover{
      background-color: darken($bg, 2%)
    }

    &:not(.brand).active .border{
      transition-duration: 0.2s;
      left: 0;
    }
  }

  .options{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    
    a{
      display: block;
      font-size: 11px;
      text-align: center;
      box-sizing: border-box;
      width: 100%;
      color: lighten($bg, 50%);
      transition: color 0.1s ease-in-out;

      &:hover{
        background-color: inherit;
        color: lighten($bg, 75%);
      }
    }
  }
}
