@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-color: #efefef;
}

#root{
  display: flex;
  height: 100%;
}

.page{
  flex: 1;
}

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
